main{
    margin-top: 65px;
}
#highscore{
    color: blueviolet;
}
#time{
    margin-right: 10px;
    float: right;
}
#quizintro{
    margin: auto;
  text-align: center;
  
}
#quiz{
    margin: auto;
    margin-top: 50px;
  
}
#start{
    background-color: blueviolet;
    color: white;
}

button{
    background-color: blueviolet ;
}
#quiz ul {
    margin-top: 10px;
    padding: 0px;
    list-style: none;
}
#answer{
    display: none;
    border-top: lightgray solid;
    color: lightgray;
}
#scoreForm{
    display: none;
    text-align: center;
    margin: auto;
    margin-top: 50px;

}
#lastdisplay{
    display: none;
    margin: auto;
    max-width: 75%;
}
#lastdisplay p{
    background-color: lightpink;
}
#lastdisplay p{
    padding-left: 10px;
    width: 75%;
}


