#score{
    color: blueviolet;
}
#time{
    margin-right: 10px;
    float: right;
}
#quizintro{
    margin: auto;
  text-align: center;
  
}
#quiz{
    margin: auto;
  
  
}
#start{
    background-color: blueviolet;
    color: white;
}

#quiz ul li button{
    background-color: blueviolet ;
}
#quiz ul {
    margin-top: 10px;
    padding: 0px;
    list-style: none;
}
#answer{
    display: none;
    border-top: lightgray solid;
    color: lightgray;
}